*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.header-brand {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   font-size: 1.5em;
   padding: 15px;
   text-transform: capitalize;
   background-color: #697A98;
   box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2);
}

.first_name {
   font-weight: 550;
   font-style: italic;
   cursor: pointer;
   text-transform: capitalize;
   color: aliceblue;
}

.last_name {
   color:rgb(238, 228, 214);
   font-weight: 510;
   cursor: pointer;
   padding-left: 4px;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #cbd1f1;
   color:#19335A;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: #19335A;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:#19335A;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: #19335A;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}